.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap: 10px;
  margin-bottom: 5rem;
}

.home-container > div{
  text-align: center;
}

.banners .lSSlideWrapper{
  background-color: black !important;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a{
  background-color: #f12020 !important;
}

.banner-slider,
.content-slider{
  height: 100%;
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}
.banner-slider li,
.content-slider li{
  text-align: center;
  color: #FFF;
}

/* Overwrites for default lightSlider buttons Image */
.lSAction > a {
  width: 64px !important;
  /* height: 0px !important; */
  aspect-ratio: 1 !important;
  background-image: none !important;
}

/* For banner-slider */
.banners .lSAction > .lSPrev {
  background-position: center !important;
  background: url('assets/chevron-left.svg') !important;
  background-repeat: no-repeat !important;
  left: 0px !important;
}

.banners .lSAction > .lSNext {
  background-position: center !important;
  background: url('assets/chevron-right.svg') !important;
  background-repeat: no-repeat !important;
  right: -32px !important;
}
/* End of For banner-slider */

/* For brands slider */
.brands .lSAction > .lSPrev {
  background-position: center !important;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' fill='rgba(34, 34, 34, 1)' class='bi bi-chevron-left' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
  background-repeat: no-repeat !important;
  left: 0px !important;
}

.brands .lSAction > .lSNext {
  background-position: center !important;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' fill='rgba(34, 34, 34, 1)' class='bi bi-chevron-right' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !important;
  background-repeat: no-repeat !important;
  right: -32px !important;
}
/* End of For brands slider */

/* End of Overwrites for default lightSlider buttons Image */

.banner-slider li > div > img {
  height: 100%;
  width: 100%;
}

.banner-slider li > div > video{
    width: 100%;
    margin-top: -10rem;
}

.brands{
  margin-top: 2rem;
}

.brands > div {
  text-align: center;
  font-size: 2rem;
  font-weight: 1000;
}

.brands .content-slider li > div > img{
  object-fit: cover;
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}

@media screen and (max-width: 56rem) {
  .brands .content-slider li > div > img{
    width: 75%;
  }

  .banners .lSSlideOuter .lSPager.lSpg > li a{
    top: -30px !important;
    height: 2px !important;
    width: 30px !important;
    outline: 0 !important;
    -webkit-tap-highlight-color: transparent !important;
  }

  .banner-slider li > div > video{
      /* height: 100%; */
      width: 100%;
      margin-top: -2rem;
  }
}
