.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap: 10px;
  margin-bottom: 5rem;
}

.home-container > div{
  text-align: center;
}

.banners .lSSlideWrapper{
  background-color: black !important;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a{
  background-color: #f12020 !important;
}

.banner-slider,
.content-slider{
  height: 100%;
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}
.banner-slider li,
.content-slider li{
  text-align: center;
  color: #FFF;
}

/* Overwrites for default lightSlider buttons Image */
.lSAction > a {
  width: 64px !important;
  /* height: 0px !important; */
  aspect-ratio: 1 !important;
  background-image: none !important;
}

.lSAction > .lSPrev {
  background-position: center !important;
  background: url('assets/chevron-left.svg') !important;
  background-repeat: no-repeat !important;
}

.lSAction > .lSNext {
  background-position: center !important;
  background: url('assets/chevron-right.svg') !important;
  background-repeat: no-repeat !important;
}

/* End of Overwrites for default lightSlider buttons Image */

.banner-slider li > div > img {
  height: 100%;
  width: 100%;
}

.banner-slider li > div > video{
    width: 100%;
    margin-top: -10rem;
}

.brands{
  margin-top: 2rem;
}

.brands > div {
  text-align: center;
  font-size: 2rem;
  font-weight: 1000;
}

.brands .content-slider li > div > img{
  object-fit: cover;
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}

@media screen and (max-width: 56rem) {
  .brands .content-slider li > div > img{
    width: 100%;
  }

  .banners .lSSlideOuter .lSPager.lSpg > li a{
    top: -30px !important;
    height: 2px !important;
    width: 30px !important;
    outline: 0 !important;
    -webkit-tap-highlight-color: transparent !important;
  }

  .banner-slider li > div > video{
      /* height: 100%; */
      width: 100%;
      margin-top: -2rem;
  }
}
