.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap: 10px;
}

.home-container > div{
  display: grid;
  align-items: center;
  place-content: center;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.banners > div{
  background-color: black;
  display: flex;
  justify-content: center;
}

.banners div > img{
  height: 100%;
  width: 100%;
}

.banners div > video{
  width: 50%;
}

.brands {
  height: 60rem; 
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}
