body{
  /* background: var(--loginbgcolor); */
  background: url(assets/login_signup_bg.jpg), rgba(27, 105, 35, 0.37);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sign-up-header,
.login-header {
  position: sticky;
  display: flex;
  align-items: right;
}

.sign-up-nav,
.login-nav {
  display: flex;
  margin-block: 1rem;
  margin-inline: 2rem;
  grid-column-gap: 2rem;
  list-style: none;
}

.sign-up-nav li > a,
.login-nav li > a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.sign-up-nav li > a:hover,
.login-nav li > a:hover{
  color: var(--bgcolor);
}


.loginContainer,
.sign-up-container {
  margin-block: 15rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-container{
  margin-block: 5rem !important;
}

.title-and-form-container{
  display: grid;
  grid-auto-flow: column;
  /* padding-inline: 10rem; */
  grid-column-gap: 5rem;
  width: 500px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin-top: 5rem;
  min-width: 10rem;
}

.name{
  font-weight: bolder;
  letter-spacing: 3px;
    color: blue;
}

.loginform,
.signup-form{
  width: 20rem;
  height: 25rem;
  background:var(--bgcolor);
  box-shadow: var(--searchbar_input-focus);
}

.signup-form{
  height: 47rem !important;
}

.login-email,
.sign-up-email {
  margin-block: 2rem;
  margin-inline: 2rem;
}

.login-email > div,
.sign-up-email > div {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.input-group{
  text-indent: 15px;
  font-size: 1.0rem;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  color: #7e6262;
  border: none;
  outline: none;
  border-radius: 4px;
  background:var(--bgcolor);
  box-shadow: var(--searchbar_input-normal);
  height: 2.5rem;
  width: 15rem;
  min-width: 10rem;
}

.input-group::placeholder{
  color: #b38d8d;
}
.input-group:focus{
  outline: none;
  box-shadow: var(--searchbar_input-focus);
}

.form-button{
  display: flex;
  justify-content: center;
}

.login-email div > a{
  color: black;
  text-decoration: none;
}

.login-email div > a:hover{
  color: blue;
}

.form-button {
  border-style: none;
  width: 15rem;
  height: 2.5rem;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  background: rgba(255, 124, 124, 0.64);
  transition: box-shadow 0.5s;
}

.form-button:hover{
  background: rgba(255, 56, 56, 1);
  box-shadow:  23px 23px 37px #bebebe,
               -23px -23px 37px #ffffff;
}

.form-button:active{
background: rgba(255, 56, 56, 1);
box-shadow: inset 23px 23px 37px #6c0e0e,
            inset -23px -23px 37px #ff3232;
}

@media screen and (max-width: 71rem){
  .title-and-form-container{
    grid-auto-flow: row;
    place-items: center;
    text-align: center;
  }

  .loginContainer,
  .sign-up-container {
    margin-block: 4rem;
    justify-content: space-around;
    margin-left: 0rem !important;
  }

  .title{
    margin-top: 0rem;
    margin-bottom: 1rem;
    width: 20rem;
  }

  .loginform,
  .signup-form{
    width: 17rem;
  }
}
