.products-menu{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.products-container{
  height: 100%;
  width: 75%;
  margin-bottom: 5rem;
  /* background-color: green; */
}
.container-struct{
  display: grid;
  /* justify-content: center; */
  grid-row-gap: 1rem;
  /* border-style: solid;
  border-color: black; */
  /* background-color: blue; */
  max-height: 100%;
  width: 100%;
}

.container-struct > div {
  display: flex;
  /* justify-content: center;
  border-style: solid; */
  border-color: black;
}

.products-header-container{
  display: flex;
  justify-content: center;
  color: black;
  height: 100%;
}

.products-header{
  font-size: 2rem;
  font-weight: bolder;
}

.products-header-container ul {
  list-style: none;
}

.products-header-container ul > li {
  text-align: center;
}

.products-categories{
  display: grid;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
}

.products-categories > div{
  display: flex;
  /* border-style: solid; */
}

.categories-container{
  width: 30%;
  min-width: 190px;
}

.categories-container div{
    margin: 2rem 0rem 0rem 2rem;
}

.categories-container div > ul {
  list-style: none;
}

.categories-container div > ul > li {
  font-size: 1.5rem;
}

.categories-container div > ul > li:hover{
  font-weight: 700;
  cursor: pointer;
}

.categories-container div > ul > li > a{
  color: black;
  text-decoration: none;
}

.products-display{
  /* place-content: center; */
  /* align-items: center; */
  width: 100%;

}

.products-display-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 3rem 3rem;
  /* grid-column-gap: 3rem; */
  width: 100%;
  padding-inline: 2rem;
  margin-inline: 5rem;
  margin-block: 2rem;
}

/* .products-display-container div {
  place-items: center;
  align-items: center;
} */

.product-card {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  border-radius: 4%;
  background-color: rgb(255, 255, 255);
  width: 70%;
  /* margin:20%; */
  min-width: 250px;
  height: 20rem;
  overflow: hidden;
  box-shadow:  0 5px 10px rgba(159, 159, 159, 0),
               0 -5px 10px rgba(255, 255, 255, 0);
  transition: box-shadow 0.2s, transform 0.2s ease-out ;
}

.product-card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: height 150ms ease-in;
}

.product-card:hover,
.product-card:active{
  /* margin: 0% 0% 0%; */
  transform: scale(1.1);
  background-color: rgb(0, 0, 0);
  box-shadow:  var(--product-card-box-shadow);
  z-index: 3000;
}

.product-card:hover > img {
  height: 70%;
}

.add-to-cart-btn{
  height: 2.5rem;
  border-radius: 0%;
  background-color: white;
  border: none;
  padding-inline: 2vw;
  outline: 2px solid black;
  box-shadow: var(--buttonbgshadowSecondaryPressed);
  margin-top: -5rem;
  margin-inline: 0.5rem;
  font-size: 1rem;
  transition: all 0.2s;
}

.product-card:hover > .add-to-cart-btn{
  margin-top: 10rem !important;
}

.add-to-cart-btn:hover{
  border-radius: 10%;
  background-color: rgb(143, 169, 255);
  color: white;
}

.add-to-cart-btn:active{
  border-radius: 10%;
  background-color: rgb(54, 101, 255);
  color: white;
}

@media screen and (max-width: 103rem) {
  .products-display-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 78rem) {
  .product-card{
    min-width: 150px;
    height: 10rem;
  }
}

@media screen and (max-width: 56rem) {
  .products-categories{
    display: flex;
    flex-direction: column;
  }

  .products-menu{
    margin-top: 0rem;
  }

  .primary-header{
    margin-bottom: 0rem !important;
  }

  .products-header {
    font-size: 1.5rem;
  }

  .products-header-container{
    font-size: 0.8rem;
  }

  .categories-container div > ul {
    display: none;
  }

  .categories-container div > ul > li {
    font-size: 0.5rem;
  }

  .products-display-container{
    grid-template-columns: 1fr;
    padding-inline: 0.2rem;
    margin-inline: 25%;
    margin-block: 0.2rem;
  }
}
