@import url("https://fonts.googleapis.com/css?family=Poppins");

/* -------Utility Classes--------- */
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root{
  --bgcolor: #fcb6b6;
}


/* :root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

$shadow: .3rem .3rem .6rem var(--greyLight-2),
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
inset -.2rem -.2rem .5rem var(--white); */

/* ---------End of Utility Classes---------------- */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  background-color: var(--bgcolor);
}

.primary-header {
  background: var(--bgcolor);
  /* box-shadow:  20px 20px 60px #d69b9b,
             -20px -20px 60px #ffd1d1; */
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 1rem;
}

.secondary_header{
  background: var(--bgcolor);
  display: grid;
  min-height: 75px;
  align-items: center;
  justify-content: space-around;
  grid-column-gap: 1rem;
  transition: all 0.5s;
}

.secondary_header:hover{
  box-shadow:  0px 10px 30px #d69b9b;
}

.dropdown_icon{
  color: white;
  background-color: transparent;
  background-image: url("assets/chevron-down.svg");
  background-repeat: no-repeat;
  width: 1.1rem;
  aspect-ratio: 1;
  /* top: -0.3rem; */
  /* right: 2rem; */
}

.mobile-nav-toggle{
  display: none;
}

.logo-and-name{
  grid-gap: 0.1rem;
  display: flex;
  align-items: center;
  min-width: 260px;
  justify-content: space-between;
  margin-left: 3rem;

}
.logo-and-name li{
  list-style: none;
}
.logo-and-name a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}

.logo{
  color: white;
  text-transform: uppercase;
  width: 100%;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  /* margin-right: 1rem; */
  /* aspect-ratio: 1; */
  /* margin: 2rem; */
}

.searchbar_input{
  text-indent: 20px;
  font-size: 1.0rem;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  color: #7e6262;
  border: none;
  outline: none;
  border-radius: 4px;
  background:var(--bgcolor);
  box-shadow: inset 0.2rem 0.2rem 0.2rem #eaa9a9,
              inset -0.2rem -0.2rem 0.5rem #ffc3c3;
  height: 2.5rem;;
  min-width: 10rem;
  width: 100%;
  margin-left: 2rem;
}
.searchbar_input::placeholder{
  color: #b38d8d;
}
.searchbar_input:focus{
  outline: none;
  box-shadow: .3rem .3rem .6rem #d69b9b,
            -.2rem -.2rem .5rem #ffd1d1;
}

nav{
  position: sticky;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  height: 100%;
  /* transition-duration: 1.4s; */
  margin-right: 1rem;
}

.nav-links{
    grid-gap: 2rem;
    display: flex;
    transition: grid-column-gap 2s;
}
.nav-links a{
  outline: none;
  display: flex;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a > div{
  /* border-radius: 11px; */
  /* justify-content: center;
  text-align: center; */
  display: grid;
  /* align-items: center; */
  place-content: center;
  /* padding-inline: 1rem; */
  /* white-space: nowrap; */
  /* height: 30px;
  width: 90px; */
  min-height: 1.8rem;
  /* width: 100%; */
  width: 6rem;
  transition: box-shadow 0.5s, border-radius 0.5s;
}
.nav-links a > div:hover{
  border-radius: 11px;
  background: linear-gradient(145deg, #ffc3c3, #e3a4a4);
  box-shadow:  5px 5px 5px #d99d9d,
               -5px -5px 5px #ffcfcf;
}
.nav-links a > div:active{
  border-radius: 11px;
  background: linear-gradient(145deg, #e3a4a4, #ffc3c3);
  box-shadow:  5px 5px 5px #d99d9d,
               -5px -5px 5px #ffcfcf;
}

a{
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
.nav-links li{
  list-style: none;
}

@media screen and (max-width: 100rem) {
  .nav-links
  {
    grid-column-gap: 0.5rem;
  }
}

@media screen and (max-width: 57rem){
  .nav-links{
    grid-column-gap: 0rem;
  }
}

@media screen and (max-width: 56rem) {
  .searchbar_input{
    display: none;
  }

  .nav-links{
    position: fixed;
    z-index: 1000;
    display: flex;
    grid-row-gap: 1rem;
    inset: 0 0 0 65%;
    align-items: center;
    flex-direction: column;
    padding: min(13vh, 10rem) 2rem;
    background: hsl(0, 0%, 100%, 0.4);
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  .resize-animation-stopper * {        /*Helps to mitigate jankiness when resizing window*/
    animation: none !important;
    transition: none !important;
  }

  .nav-links[data-visible= "true"]{    /*data-visible is an attribule in the html file itself which tells us the data is visible or not*/
    transform: translateX(0%);
  }

  .nav-links a > div{
    display: grid;
    border-radius: 11px;
    place-content: center;
    /* padding-top: 20%; */
    height: 5rem;
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;         /* Z-index specifies which layer this class will appear on the page */
    background-color: transparent;
    background-image: url("assets/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 5rem;
    border: none;
    aspect-ratio: 1;
    top: -0.3rem;
    right: 2rem;
    transition: all 0.5s;
  }
  .mobile-nav-toggle[aria-expanded= "true"]{
    background-image: url("assets/close-icon.svg");
  }

  @supports (backdrop-filter: blur(0.3rem)) {
    .nav-links{
      background: hsl(0, 0%, 100%, 0.2);
      backdrop-filter: blur(0.3rem);
    }
  }

  .nav-links a{
    background: hsl(0, 0%, 100%, 0.2);
    backdrop-filter: blur(0.3rem);
  }
}

@media screen and (max-width: 31rem){
  .searchbar_input{
    display: none;
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;         /* Z-index specifies which layer this class will appear on the page */
    background-color: transparent;
    background-image: url("assets/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 3rem;
    border: none;
    aspect-ratio: 1;
    top: 0.7rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded= "true"]{
    background-image: url("assets/close-icon.svg");
  }
}

@media screen and (max-width: 31rem) and (max-height: 30rem){
  .nav-links{
    position: fixed;
    z-index: 1000;
    display: flex;
    grid-row-gap: 0.5rem;
    inset: 0 0 0 65%;
    align-items: center;
    flex-direction: column;
    padding: min(25vh, 10rem) 2rem;
    background: hsl(0, 0%, 100%, 0.4);
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  @supports (backdrop-filter: blur(0.3rem)) {
    .nav-links{
      background: hsl(0, 0%, 100%, 0.2);
      backdrop-filter: blur(0.3rem);
    }
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;         /* Z-index specifies which layer this class will appear on the page */
    background-color: transparent;
    background-image: url("assets/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 3rem;
    border: none;
    aspect-ratio: 1;
    top: 0.7rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded= "true"]{
    background-image: url("assets/close-icon.svg");
  }

  .nav-links a > div{
    display: grid;
    border-radius: 11px;
    place-content: center;
    /* padding-top: 20%; */
    height: 2rem;
  }
}

@media screen and (max-height: 30rem){
  .nav-links{
    position: fixed;
    z-index: 1000;
    display: flex;
    grid-row-gap: 1.5rem;
    inset: 0 0 0 65%;
    align-items: center;
    flex-direction: column;
    padding: min(5vh, 10rem) 2rem;
    background: hsl(0, 0%, 100%, 0.4);
    transform: translateX(100%);
    overflow-y: scroll;
  }

  @supports (backdrop-filter: blur(0.3rem)) {
    .nav-links{
      background: hsl(0, 0%, 100%, 0.2);
      backdrop-filter: blur(0.3rem);
    }
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;         /* Z-index specifies which layer this class will appear on the page */
    background-color: transparent;
    background-image: url("assets/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 3rem;
    border: none;
    aspect-ratio: 1;
    top: 0.7rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded= "true"]{
    background-image: url("assets/close-icon.svg");
  }

  .nav-links a > div{
    display: grid;
    border-radius: 11px;
    place-content: center;
    /* padding-top: 20%; */
    height: 2rem;
  }
}

///* TODO: Some changes needed for mobile version according to the changes done for desktop version */
